In [10]:
from openalgo import api

# Initialize the API client
client = api(api_key='openalgo-api-key', host='http://127.0.0.1:5000')

# Fetch historical data for SBIN
df = client.history(
    symbol="SBIN",
    exchange="NSE",
    interval="5m",
    start_date="2025-01-01",
    end_date="2025-01-24"
)

df

                            close    high     low    open  volume
timestamp
2025-01-01 09:15:00+05:30  795.25  798.00  792.50  795.55  190321
2025-01-01 09:20:00+05:30  794.75  795.60  793.15  795.10  109048
2025-01-01 09:25:00+05:30  795.45  796.00  794.20  794.60   55949
2025-01-01 09:30:00+05:30  793.40  796.00  793.00  795.45   85310
2025-01-01 09:35:00+05:30  793.80  793.95  793.15  793.50   36133
...                           ...     ...     ...     ...     ...
2025-01-23 15:15:00+05:30  745.25  746.45  745.15  745.90  551123
2025-01-23 15:20:00+05:30  746.05  746.35  745.25  745.40  341460
2025-01-23 15:25:00+05:30  746.25  746.65  745.25  745.95  229830
2025-01-24 09:15:00+05:30  749.70  750.55  746.00  749.90  358900
2025-01-24 09:20:00+05:30  746.50  749.70  746.15  749.65  395513

[1277 rows x 5 columns]