In [3]:
import sqlite3

# Path to your database file in the db folder
db_path = "../db/openalgo.db"  # Replace with the actual database file name

# Connect to the database
conn = sqlite3.connect(db_path)

# Query to list all tables
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# Close the connection
conn.close()

Tables in the database:
auth
api_keys
users
symtoken
order_logs
analyzer_logs
settings
chartink_strategies
chartink_symbol_mappings
strategies
strategy_symbol_mappings

In [4]:
import sqlite3
import pandas as pd



# Connect to the database
conn = sqlite3.connect(db_path)


# Preview data from a specific table
df = pd.read_sql_query("SELECT * FROM order_logs LIMIT 10;", conn)  # Replace 'your_table' with actual table name
df

,id,api_type,request_data,response_data,created_at
0,1,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000313...",2025-05-19 09:25:43.311851
1,2,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000334...",2025-05-19 09:26:47.972273
2,3,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000335...",2025-05-19 09:26:51.825323
3,4,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000570...",2025-05-19 09:37:47.824241
4,5,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000958...",2025-05-19 10:02:50.325277
5,6,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519000958...",2025-05-19 10:02:51.472677
6,7,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519001021...",2025-05-19 10:07:13.869797
7,8,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519001240...",2025-05-19 10:22:42.267361
8,9,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519001402...",2025-05-19 10:35:59.623794
9,10,placeorder,"{""strategy"": ""Period_Range_Breakout_V2_IST"", ""...","{""status"": ""success"", ""orderid"": ""250519001655...",2025-05-19 11:04:49.873965

In [5]:
# Close the connection
conn.close()