In [ ]:
from openalgo import api

client = api(api_key="your-openalgo-apikey", host="http://127.0.0.1:5000")


response = client.history(
    symbol="NIFTY",
    exchange="NSE_INDEX",
    interval="1m",
    start_date="2025-10-01",
    end_date="2025-10-10",
)
response

                              close      high       low  oi      open  volume
timestamp
2025-10-01 09:15:00+05:30  24638.10  24661.85  24620.55   0  24620.55       0
2025-10-01 09:16:00+05:30  24625.05  24642.45  24621.35   0  24635.70       0
2025-10-01 09:17:00+05:30  24642.90  24644.85  24619.60   0  24623.45       0
2025-10-01 09:18:00+05:30  24626.00  24645.30  24626.00   0  24641.35       0
2025-10-01 09:19:00+05:30  24620.50  24634.70  24620.50   0  24627.15       0
...                             ...       ...       ...  ..       ...     ...
2025-10-10 15:25:00+05:30  25288.30  25291.25  25284.65   0  25286.85       0
2025-10-10 15:26:00+05:30  25290.05  25292.55  25285.30   0  25286.35       0
2025-10-10 15:27:00+05:30  25288.30  25290.75  25284.50   0  25287.30       0
2025-10-10 15:28:00+05:30  25284.20  25290.30  25284.20   0  25289.35       0
2025-10-10 15:29:00+05:30  25278.20  25287.25  25276.20   0  25282.50       0

[2625 rows x 6 columns]

In [3]:
response = client.history(
    symbol="NIFTY",
    exchange="NSE_INDEX",
    interval="D",
    start_date="2025-10-01",
    end_date="2025-10-10",
)
response

               close      high       low  oi      open  volume
timestamp
2025-10-01  24836.30  24867.95  24605.95   0  24620.55       0
2025-10-03  24894.25  24904.80  24747.55   0  24759.55       0
2025-10-06  25077.65  25095.95  24881.65   0  24916.55       0
2025-10-07  25108.30  25220.90  25076.30   0  25085.30       0
2025-10-08  25046.15  25192.50  25008.50   0  25079.75       0
2025-10-09  25181.80  25199.25  25024.30   0  25074.30       0
2025-10-10  25285.35  25330.75  25156.85   0  25167.65       0

In [4]:
client.interval()

{'data': {'days': ['D'],
  'hours': ['1h', '2h', '3h', '4h'],
  'minutes': ['1m', '2m', '3m', '5m', '10m', '15m', '30m', '60m'],
  'months': ['M'],
  'seconds': [],
  'weeks': ['W']},
 'status': 'success'}